/**
 * Style sheet for colors, fonts and the like.
 * (not for the position of the divs)
 */

.chinese {
    background-color: #000 !important;
    color: #fff;
    display:block;
}

/* ppword: contains pptext and ppimage */
.ppword {
    float: left;
    line-height: 1em;
}
.pptext {
    display:block;
    text-align: center;
    font-size: 1.5em; /* big */
    padding-top: 10px;
}
a.ppimage {
    display: inline;
    border: none;
}
.ppimage img {
    border: none;
}

