/**
 * Style sheet for colors, fonts and the like.
 * (not for the position of the divs)
 */

.chinese {
    background-color: #000;
    color: #fff;
    display:block;
}

.chinese a {
    color: #fff;
    text-decoration: underline;
}

/* ppword: contains pptext and ppimage */
.ppword {
    float: left;
    min-height: 120px;
    display:block;
    margin-top: 20px;
}

.pptext {
    display:block;
    text-align: center;
    /* line-height: 1.2em; */
    font-size: 1.2em; /* slightly bigger */
    width: 75px;
    padding-top: 10px;
    /* height: 2.0em; */
}

a.ppimage {
    display: block;
    border: none;
    /* position: relative; */
    width: 75px;
    height: 75px;
}

.ppimage img {
    border: none;
}

.noimage {
    display: block;
    /* position: relative; */
    width: 75px;
    height: 75px;
    background-color: #000;
}

